---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading2 from '@components/component/Heading2.astro';

import getMicrocms from '@libs/getMicrocms';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const blogList = await getMicrocms('blogs');
	return paginate(blogList.contents, { pageSize: 2 });
}

const { page } = Astro.props;
---

<Layout title="Blog">
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<Heading2 text="Blog" />
		<div
			class={css({
				marginBlockStart: '70px',
			})}
		>
			<ul
				class={css({
					display: 'grid',
					gridTemplateColumns: '1fr',
					gap: '24px',
					md: {
						gridTemplateColumns: 'repeat(3, 1fr)',
					},
				})}
			>
				{
					page.data.map(blog => (
						<li>
							<a href={`/blog/${blog.id}`}>
								<img src={blog.eyecatch.url} alt="" />
								<p>{blog.title}</p>
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div
			class={css({
				// display: 'flex',
				// justifyContent: 'center',
			})}
		>
			<div>
				{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
			</div>
			<div>
				{page.url.next ? <a href={page.url.next}>Next</a> : null}
			</div>
			<div>
				{page.currentPage}
			</div>
		</div>
	</div>
</Layout>
