---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
import MoreLink from '@components/component/MoreLink.astro';
import BlogContent from '@components/component/BlogContent.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType, blogType } from '@types/blog';

const { id } = Astro.params;

export async function getStaticPaths() {
	const blogList: blogListType = await getMicrocms('blogs');
	const pathList: {
		params: { id: string };
	}[] = [];
	blogList.contents.forEach(blog => {
		pathList.push({
			params: { id: blog.id },
		});
	});
	return pathList;
}

const blog: blogType = await getMicrocms('blogs', id);
const createdDate = new Date(blog.createdAt);
---

<Layout title={blog.title}>
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<article>
			<Heading1 text={blog.title} />
			<p
				class={css({
					textAlign: 'right',
				})}
			>
				投稿日：{createdDate.getFullYear()}年{createdDate.getMonth()}月{createdDate.getDate()}日
			</p>
			<div
				class={css({
					marginBlockStart: '70px',
				})}
			>
				{blog.eyecatch ? <img class={css({ marginInline: 'auto' })} src={blog.eyecatch.url} alt="" /> : null}
			</div>
			<div
				class={css({
					marginBlockStart: '70px',
				})}
			>
				<BlogContent content={blog.content} />
			</div>
		</article>
		<div class={css({ textAlign: 'center', marginBlockStart: '70px' })}>
			<MoreLink text="ブログ一覧に戻る" href="/blog/" />
		</div>
	</div>
</Layout>
