---
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
import MoreLink from '@components/component/MoreLink.astro';
import BlogContent from '@components/component/BlogContent.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType, blogType } from '@types/blog';

const { id } = Astro.params;

export async function getStaticPaths() {
	const blogList: blogListType = await getMicrocms('blogs');
	const pathList: {
		params: { id: string };
	}[] = [];
	blogList.contents.forEach(blog => {
		pathList.push({
			params: { id: blog.id },
		});
	});
	return pathList;
}

const blog: blogType = await getMicrocms('blogs', id);
const createdDate = new Date(blog.createdAt);
---

<Layout title={blog.title}>
	<div class="p-blog-detail">
		<article>
			<Heading1 text={blog.title} />
			<p class="p-blog-detail__date">
				投稿日：{createdDate.getFullYear()}年{createdDate.getMonth() + 1}月{createdDate.getDate()}日
			</p>
			<div class="p-blog-detail-thumb">
				{blog.eyecatch ? <img src={blog.eyecatch.url} alt="" /> : null}
			</div>
			<div class="p-blog-detail__content">
				<BlogContent content={blog.content} />
			</div>
		</article>
		<div class="p-blog-detail__more">
			<MoreLink text="ブログ一覧に戻る" href="/blog/" />
		</div>
	</div>
</Layout>

<style lang="scss">
	.p-blog-detail {
		margin-inline: auto;
		padding-inline: 20px;
		max-width: 827px;

		&__date {
			text-align: right;
		}

		&__thumb {
			margin-block-start: 70px;

			> img {
				margin-inline: auto;
			}
		}

		&__content {
			margin-block-start: 70px;
		}

		&__more {
			margin-block-start: 70px;
		}
	}
</style>
