---
const menuList = [
	{
		text: 'About',
		href: '/about/',
	},
	{
		text: 'Blog',
		href: '/blog/',
	},
	// {
	// 	text: 'Coding Patterns',
	// 	href: '/coding-patterns/',
	// },
	// {
	// 	text: 'Contact',
	// 	href: '/contact/',
	// },
];

const { isHome = false } = Astro.props;

const twClasses = {
	container: 'max-w-4xl p-4 mx-auto flex justify-between items-center md:py-5',
	title: 'font-normal text-2xl',
};
---

<header class="sticky top-0 z-10 bg-white" x-data="{ open: false }">
	<div class={twClasses.container}>
		{
			isHome ? (
				<h1 class={twClasses.title}>Yusaku SATO</h1>
			) : (
				<div class={twClasses.title}>
					<a href="/">Yusaku SATO</a>
				</div>
			)
		}
		<button
			class="block size-12 relative"
			type="button"
			id="headerButtonOpen"
			aria-controls="headerNav"
			@click="open=!open"
		>
			<span class="sr-only">ヘッダーナビゲーションを開く</span>
			<span class="w-7 h-0.5 bg-black block absolute inset-0 m-auto">
				<span class="block size-full bg-black absolute inset-0 m-auto mt-2"></span>
				<span class="block size-full bg-black absolute inset-0 m-auto mb-2"></span>
			</span>
		</button>
		<dialog class="w-full max-w-full m-0 p-0" id="headerNav" x-show="open" x-htmldialog.noscroll="open = false">
			<div class={twClasses.container}>
				{
					isHome ? (
						<div class={twClasses.title}>Yusaku SATO</div>
					) : (
						<div class={twClasses.title}>
							<a href="/">Yusaku SATO</a>
						</div>
					)
				}
				<button
					class="block size-12 relative"
					type="button"
					id="headerButtonClose"
					aria-controls="headerNav"
					@click="open=!open"
					autofocus
				>
					<span class="sr-only">ヘッダーナビゲーションを閉じる</span>
					<span class="w-7 h-0.5 bg-black block absolute inset-0 m-auto">
						<span class="block size-full bg-black absolute inset-0 m-auto mt-2"></span>
						<span class="block size-full bg-black absolute inset-0 m-auto mb-2"></span>
					</span>
				</button>
			</div>
			<nav>
				<ul class="mx-auto p-5 max-w-5xl text-lg">
					{
						menuList.map(menu => {
							return (
								<li>
									<a class="block text-center px-1 py-2 hover:opacity-60" href={menu.href}>
										{menu.text}
									</a>
								</li>
							);
						})
					}
				</ul>
			</nav>
		</dialog>
	</div>
</header>
