---
import { css } from '@styled-system/css';
import { container } from '@components/styles/container';
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType } from '@types/blog';

const blogList: blogListType = await getMicrocms('blogs');
---

<section>
	<div class={container}>
		<Heading2 text="Blog" />
		<div
			class={css({
				marginBlockStart: '45px',
				md: { marginBlockStart: '70px' },
			})}
		>
			<ul>
				{
					blogList.contents.slice(0, 5).map((blog, index) => {
						return (
							<li
								class={css({
									borderBlockEnd: '1px solid #c8c8c8',
									borderBlockStart: index === 0 ? '1px solid #c8c8c8' : '',
								})}
							>
								<a
									href={`/blog/${blog.id}`}
									class={css({
										display: 'grid',
										paddingBlock: '15px',
										paddingInline: '15px',
										transition: 'opacity 300ms',
										'@media (hover: hover)': {
											_hover: {
												opacity: '0.6',
											},
										},
									})}
								>
									{(() => {
										const createdDate = new Date(blog.createdAt);
										return (
											<span>
												{createdDate.getFullYear()}年{createdDate.getMonth()}月{createdDate.getDate()}日
											</span>
										);
									})()}

									<span>{blog.title}</span>
								</a>
							</li>
						);
					})
				}
			</ul>

			<div
				class={css({
					marginBlockStart: '54px',
				})}
			>
				<MoreLink text="ブログ一覧" href="/blog/" />
			</div>
		</div>
	</div>
</section>
